nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  background-color: rgba(17,17,17,0.95);
}

nav.scrolled {
  background-color: rgba(17,17,17,1);
  box-shadow: 0 4px 15px rgba(0,0,0,0.8);
}
  
.nav__bar {
  display: flex;
  margin-top: 3vh; 
  margin-left: 3vw;
  margin-right: 3vw;
  justify-content: space-between;
  
}

#nav__title {
  font-size: 40px;
  font-family: var(--text-font);
  font-weight: 300;
}

.nav__icons {
  display: flex;
  justify-content: space-between;
  width: 250px;

}
.nav__icon {
  width: 40px;
  height: 40px;
}

.nav__icon__logo {
  width: 125px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translateX(50px) translateY(20px);
  transition: all 0.5s ease;
}

nav.scrolled .nav__icon__logo {
  width: 30px;
  height: 60px;
  transform: translateX(10);
}  

#donate__icon {
  width: 42px;
  height: 42px;
}

@media only screen and (max-width: 480px) {
  .nav__bar {
    margin: 3vh 4vw; 
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
  }

  #nav__title {
    font-size: 30px;
    text-align: left;
    width: 100vw;
  
  }

  .nav__icons {
    width: 20vh;
  }

  .nav__icon {
    width: 25px;
    height: 25px;
  }

  .nav__icon__logo {
    width: 50px;
    height: 100px;
    transform: translateX(20px) translateY(10px);
  }
  
  nav.scrolled .nav__icon__logo {
    width: 30px;
    height: 60px;
    transform: translateX(10);
  }

  #donate__icon {
    width: 27px;
    height: 27px;
  }

}



